In [41]:
from bs4 import  BeautifulSoup as bs
from urllib.request import  urlopen
import pandas as pd 
from tqdm.rich import  tqdm
import numpy as np

In [42]:
url = "https://www.realtor.com/international/ma"
client = urlopen(url)
html = client.read()
client.close()

In [43]:
soup = bs(html,"html.parser")

In [44]:
container = soup.find_all('div',{"class":'sc-1dun5hk-5 sc-1dun5hk-7 ijlLGk'})
len(container)

25

In [45]:
bs.prettify(container[0])

'<div class="sc-1dun5hk-5 sc-1dun5hk-7 ijlLGk" data-testid="standard-listing-card" style="width:100%;height:100%">\n <div class="price" style="display:block">\n  <div class="displayConsumerPrice">\n   USD $239,769\n  </div>\n  <div class="displayListingPrice">\n   MAD د.م.2,400,000\n  </div>\n </div>\n <div class="address">\n  Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi\n </div>\n <div class="sc-1dun5hk-9 bxFCly">\n  <div class="features" data-testid="features">\n   <div class="feature-item">\n    <img alt="bedrooms" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjIyMjQ5IDQuNUMzLjc5NzQzIDQuNSAzLjQxODgzIDQuNzY4NyAzLjI3ODUzIDUuMTY5OTNMMi4wNTQ3MSA4LjY2OTkzQzEuODI3MzggOS4zMjAwNiAyLjMwOTk0IDEwIDIuOTk4NjYgMTBIMTMuMDAxNkMxMy42OTAzIDEwIDE0LjE3MjkgOS4zMjAwNiAxMy45NDU2IDguNjY5OTNMMTIuNzIxNyA1LjE2OTkzQzEyLjU4MTQgNC43Njg3IDEyLjIwMjggNC41IDExLjc3NzggNC41SDQuMjIyNDlaIiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBvcGFjaXR5PSIwLjk4IiBkPSJNMy41MDE1OSAxMy41VjE1IiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTIuNTAxNiAxMy41VjE1IiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNDQ3NDggMS43MDQxNkMzLjU3NzE2IDEuMjg1NDUgMy45NjQ0IDEgNC40MDI3MiAxSDExLjYwMDFDMTIuMDM4NCAxIDEyLjQyNTcgMS4yODU0NSAxMi41NTUzIDEuNzA0MTZMMTMuMDE5OSAzLjIwNDE2QzEzLjIxOTIgMy44NDc1OCAxMi43MzgyIDQuNSAxMi4wNjQ3IDQuNUgzLjkzODE3QzMuMjY0NiA0LjUgMi43ODM2NiAzLjg0NzU4IDIuOTgyOTMgMy4yMDQxNkwzLjQ0NzQ4IDEuNzA0MTZaIiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMiA5VjExQzIgMTIuMTA0NiAyLjg5NTQzIDEzIDQgMTNIMTJDMTMuMTA0NiAxMyAxNCAxMi4xMDQ2IDE0IDExVjkiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo="/>\n    <!-- -->\n    2\n   </div>\n   <div class="feature-item">\n    <img alt="bathroom" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDE0LjVDMTQgMTQuNSAxNCAxMCAxNCAxMEMxNCAxMCAxMS4zMTM3IDEwIDggMTBDNC42ODYyOSAxMCAyIDEwIDIgMTBDMiAxMCAyIDE0LjUgOCAxNC41WiIgc3Ryb2tlPSIjNjk3Njg0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDMuOTk5OUMxMCAzLjk5OTkgMTAgNi4zOTk5IDEwIDYuMzk5OUMxMCA2LjM5OTkgOS4xMDQ1NyA2LjM5OTkgOCA2LjM5OTlDNi44OTU0MyA2LjM5OTkgNiA2LjM5OTkgNiA2LjM5OTlDNiA2LjM5OTkgNiAzLjk5OTkgOCAzLjk5OTlaIiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTMgMTBWMy41QzEzIDIuMTE5MjkgMTEuODgwNyAwLjk5OTk5OSAxMC41IDAuOTk5OTk5VjAuOTk5OTk5QzkuMTE5MjkgMC45OTk5OTkgOCAyLjExOTI5IDggMy41VjQiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik00Ljk5OTk2IDE0TDQuMzI5MTQgMTUiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMSAxNEwxMS42NzA5IDE1IiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K"/>\n    <!-- -->\n    2\n   </div>\n   <div class="feature-item">\n    <img alt="buildingSize" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjUgMTVWMTMiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik01LjUgMTVWMTMiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik02IDE0SDE0IiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTMgMkwxIDIiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0zIDExSDEiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0yIDEwLjVMMiAyLjUiIHN0cm9rZT0iIzY5NzY4NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik02IDVMNiAxMEM2IDEwLjU1MjMgNi40NDc3MiAxMSA3IDExSDEzQzEzLjU1MjMgMTEgMTQgMTAuNTUyMyAxNCAxMFY1LjAwMTQ3IiBzdHJva2U9IiM2OTc2ODQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNSA2TDEwIDFMMTUgNiIgc3Ryb2tlPSIjNjk3Njg0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg=="/>\n    <span>\n     1,399.31 sq ft\n    </span>\n   </div>\n  </div>\n </div>\n <div class="property-type">\n  Apartment\n </div>\n <div class="view-detail">\n  View details\n </div>\n</div>\n'

In [46]:
#price
a = container[0].find_all('div',{"class",'displayConsumerPrice'})
b = a[0].text
b

'USD $239,769'

In [47]:
#proprety type
a = container[0].find_all('div',{"class",'property-type'})
b = a[0].text
b

'Apartment'

In [48]:
#address
a = container[0].find_all('div',{"class",'address'})
b = a[0].text
b

'Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi'

In [49]:
a = container[8].find_all('div',{"class",'features'})
b = a[0].text
b

' 2 2947.22 sq ft'

In [50]:

a = container[1].find_all('div',{"class",'feature-item'})
for i in range(len(a)):
    print(i)
    b = a[i].text
    print(b)

0
 6
1
 6
2
14,531.28 sq ft

In [51]:
 a = container[0].find_all('div',{"class",'feature-item'})
for e in range(len(a)):
    text = a[e].text
    if text.endswith("sq ft"):
                print(text)
        
    else  :
                print('nothing')

nothing
nothing
1,399.31 sq ft

### **craping program**

In [60]:
#lists
price = []
proprety_type =[]
adress = []
bedroom = []
surface =[]
bathroom = []



for p in tqdm(range(200),desc=f"✨ Processing pages"):

    try:
        url = f"https://www.realtor.com/international/ma/p{p+1}"
        client = urlopen(url)
        html = client.read()
        client.close()
        soup = bs(html,"html.parser")
        container = soup.find_all('div',{"class":'sc-1dun5hk-5 sc-1dun5hk-7 ijlLGk'})
        for i in range(len(container)):
        
        #price
            a = container[i].find_all('div',{"class":'displayConsumerPrice'})
            price.append(a[0].text.strip() if a else np.nan)
        #proprety_type
            a = container[i].find_all('div',{"class":'property-type'})
            proprety_type.append(a[0].text.strip() if a else np.nan)
        #addres
            a = container[i].find_all('div',{"class":'address'})
            adress.append(a[0].text.strip() if a else np.nan)
        #feaures
            a = container[i].find_all('div', {"class": 'feature-item'})
            sq_ft = [text for text in (item.text for item in a) if text.endswith("sq ft")]
            surface.append(sq_ft[0] if sq_ft else np.nan)
       
            a = container[i].find_all('div',{"class":'feature-item'}) 
            bedroom.append(a[0].text if  len(a) >= 1 else np.nan)
            bathroom.append(a[1].text if  len(a) >= 2 else np.nan)

    except Exception as e:
        tqdm.write(f"Error on page {p+1}: {e}")
    continue    





data = pd.DataFrame({
"price" : price,
"proprety type" : proprety_type,
"surface" : surface,
"bedroom" : bedroom,
"bathroom":bathroom,
"address" : adress,

})


data.head(5)

Output()

C:\Users\ayman\AppData\Local\Temp\ipykernel_20476\614250793.py:11: TqdmExperimentalWarning: rich is experimental/alpha
  for p in tqdm(range(200),desc=f"✨ Processing pages"):

,price,proprety type,surface,bedroom,bathroom,address
0,"USD $239,769",Apartment,"1,399.31 sq ft",2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
1,"USD $1,798,271",House,"14,531.28 sq ft",6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
2,"USD $434,582",House,"4,305.56 sq ft",4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz"
3,"USD $129,875",Apartment,893.40 sq ft,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ..."
4,"USD $199,808",Apartment,"1,367.02 sq ft",3,2,"Anfa, Casablanca, Casablanca-Settat"

In [61]:
data

,price,proprety type,surface,bedroom,bathroom,address
0,"USD $239,769",Apartment,"1,399.31 sq ft",2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
1,"USD $1,798,271",House,"14,531.28 sq ft",6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
2,"USD $434,582",House,"4,305.56 sq ft",4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz"
3,"USD $129,875",Apartment,893.40 sq ft,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ..."
4,"USD $199,808",Apartment,"1,367.02 sq ft",3,2,"Anfa, Casablanca, Casablanca-Settat"
...,...,...,...,...,...,...
414,"USD $157,551",Land,"51,666.77 sq ft","51,666.77 sq ft",NaN,"Essaouira, Marrakesh-Safi"
415,"USD $189,061",House,"5,263.55 sq ft",7,"5,263.55 sq ft","Essaouira, Marrakesh-Safi"
416,"USD $609,197",House,"3,476.74 sq ft",4,"3,476.74 sq ft","Essaouira, Marrakesh-Safi"
417,"USD $945,306",House,"8,611.13 sq ft",7,10,"Essaouira, Marrakesh-Safi"
418,"USD $267,837",House,"2,152.78 sq ft",3,"2,152.78 sq ft","Essaouira, Marrakesh-Safi"

In [62]:
data.isna().sum()

price             0
proprety type     0
surface          13
bedroom           7
bathroom         43
address           0
dtype: int64

In [63]:
df = data.copy()

In [65]:
df['price'] = df['price'].str.replace('USD $','')
df['surface'] = df['surface'].str.replace('sq ft','')

df.head()

,price,proprety type,surface,bedroom,bathroom,address
0,"239,769",Apartment,"1,399.31",2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
1,"1,798,271",House,"14,531.28",6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
2,"434,582",House,"4,305.56",4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz"
3,"129,875",Apartment,893.40,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ..."
4,"199,808",Apartment,"1,367.02",3,2,"Anfa, Casablanca, Casablanca-Settat"

In [79]:
df.dropna(axis=0,inplace=True)
df.isna().sum()

price            0
proprety type    0
surface          0
bedroom          0
bathroom         0
address          0
dtype: int64

In [80]:
df_di = df[df['price'].str.isdigit()]
len(df_di),len(df)

(370, 370)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 0 to 418
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          370 non-null    object
 1   proprety type  370 non-null    object
 2   surface        370 non-null    object
 3   bedroom        370 non-null    object
 4   bathroom       370 non-null    object
 5   address        370 non-null    object
dtypes: object(6)
memory usage: 20.2+ KB

In [ ]:
df['price'] = df['price'].astype(float)
df['surface'] = df['surface'].str.replace(',','').str.strip()
df['surface'] = df['surface'].astype(float)

In [87]:
df.dtypes

price            float64
proprety type     object
surface          float64
bedroom           object
bathroom          object
address           object
dtype: object

In [90]:
col = ['bedroom','bathroom']
for i in col:
    df[i] = df[i].apply(lambda x : np.nan if x.endswith('sq ft') else x)

In [93]:
df.isna().sum()

price             0
proprety type     0
surface           0
bedroom           4
bathroom         43
address           0
dtype: int64

In [94]:
df.dropna(axis=0,inplace=True)
df.isna().sum()

price            0
proprety type    0
surface          0
bedroom          0
bathroom         0
address          0
dtype: int64

In [100]:
df["proprety type"] =df["proprety type"].apply(lambda x : np.nan if x=='' else x)
df["proprety type"].unique()

array(['Apartment', 'House', nan, 'Rural'], dtype=object)

In [101]:
df.isna().sum()

price            0
proprety type    3
surface          0
bedroom          0
bathroom         0
address          0
dtype: int64

In [102]:
df.dropna(axis=0,inplace=True)

In [103]:
df.head()

,price,proprety type,surface,bedroom,bathroom,address
0,239769.0,Apartment,1399.31,2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
1,1798271.0,House,14531.28,6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi"
2,434582.0,House,4305.56,4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz"
3,129875.0,Apartment,893.40,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ..."
4,199808.0,Apartment,1367.02,3,2,"Anfa, Casablanca, Casablanca-Settat"

In [104]:
df['city'] = df['address'].str.split(',').str[1].str.strip()
df['principale'] = df['address'].str.split(',').str[2].str.strip()
df.head()

,price,proprety type,surface,bedroom,bathroom,address,city,principale
0,239769.0,Apartment,1399.31,2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
1,1798271.0,House,14531.28,6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
2,434582.0,House,4305.56,4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz",Marrakech,Marrakesh-Tensift-El Haouz
3,129875.0,Apartment,893.40,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakesh-Tensift-El Haouz 40000
4,199808.0,Apartment,1367.02,3,2,"Anfa, Casablanca, Casablanca-Settat",Casablanca,Casablanca-Settat

In [105]:
df['city'].unique()

array(['Marrakech', 'Casablanca', 'Casablanca-Settat', 'Marrakesh-Safi',
       'Souss-Massa 80000', 'Souss-Massa', 'Marrakech-Ménara', 'Tétouan',
       'Moulay-Bousselham', 'Essaouira', 'Rabat', 'Marrakech-Safi',
       'Chtouka Ait Baha Province',
       'No.42 No.Hay Moulay Dris Asilah Morocco', 'Rabat-Salé-Kénitra',
       'No.42', 'Mallalienne', 'Marrakesh-Safi 40000', 'Tanger-Asilah',
       'Sidi Abdallah Ghiat', 'Casablanca-Settat 24000',
       'Massachusetts 01773', 'Massachusetts Wayland', 'Skhirat-Témara',
       'Ben Slimane', 'Salé', 'Zagora', 'Mohammedia', 'Tamraght',
       'Agadir', 'Safi', 'Fez', 'Tanger', 'Bouznika'], dtype=object)

In [106]:
city_mapping = {
    'Marrakech': 'Marrakech',
    'Marrakesh-Safi': 'Marrakech',
    'Marrakech-Safi': 'Marrakech',
    'Marrakech-Ménara': 'Marrakech',
    'Casablanca': 'Casablanca',
    'Casablanca-Settat': 'Casablanca',
    'Casablanca-Settat 24000': 'Casablanca',
    'Rabat': 'Rabat',
    'Rabat-Salé-Kénitra': 'Rabat',
    'Tanger': 'Tangier',
    'Tanger-Asilah': 'Tangier',
    'Agadir': 'Agadir',
    'Safi': 'Safi',
    'Essaouira': 'Essaouira',
    'Fez': 'Fez',
    'Zagora': 'Zagora',
    'Tétouan': 'Tétouan',
    'Souss-Massa': 'Agadir',
    'Souss-Massa 80000': 'Agadir',
    'Massachusetts 01773': 'Unknown',
    'Massachusetts Wayland': 'Unknown',
    'Skhirat-Témara': 'Skhirat',
    'No.42': 'Unknown',
    'No.42 No.Hay Moulay Dris Asilah Morocco': 'Asilah',
    'Ben Slimane': 'Benslimane',
    'Mallalienne': 'Unknown',
    'Bouznika': 'Bouznika',
    'Tamraght': 'Tamraght',
    'Sidi Abdallah Ghiat': 'Sidi Abdallah Ghiat',
    'Mohammedia': 'Mohammedia',
    'Salé': 'Salé',
    'Chtouka Ait Baha Province': 'Chtouka Ait Baha Province',
}


df['city'] = df['city'].map(city_mapping).fillna('Unknown')

df['city'].unique()

array(['Marrakech', 'Casablanca', 'Agadir', 'Tétouan', 'Unknown',
       'Essaouira', 'Rabat', 'Chtouka Ait Baha Province', 'Asilah',
       'Tangier', 'Sidi Abdallah Ghiat', 'Skhirat', 'Benslimane', 'Salé',
       'Zagora', 'Mohammedia', 'Tamraght', 'Safi', 'Fez', 'Bouznika'],
      dtype=object)

In [119]:
df.iloc[:,7] = df.iloc[:,7].str.replace(r'\d+', '', regex=True).str.strip()
df.iloc[:,7].unique()

array(['Marrakesh-Safi', 'Marrakesh-Tensift-El Haouz',
       'Casablanca-Settat', nan, 'Province de',
       'Tangier-Tétouan-Al Hoceima', 'Rabat-Salé-Kénitra', 'Morocco',
       'Souss-Massa-Draa', 'Asilah', 'Grand Casablanca', 'Agadir',
       'Souss-Massa', 'Safi', 'Essaouira', 'Fez', 'Casablanca'],
      dtype=object)

In [115]:
for i in ['bedroom','bathroom']:
    df[i] = df[i].astype(int)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 0 to 417
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          324 non-null    float64
 1   proprety type  324 non-null    object
 2   surface        324 non-null    float64
 3   bedroom        324 non-null    int64
 4   bathroom       324 non-null    int64
 5   address        324 non-null    object
 6   city           324 non-null    object
 7   principale     141 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 30.9+ KB

In [120]:
df.head()

,price,proprety type,surface,bedroom,bathroom,address,city,principale
0,239769.0,Apartment,1399.31,2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
1,1798271.0,House,14531.28,6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
2,434582.0,House,4305.56,4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz",Marrakech,Marrakesh-Tensift-El Haouz
3,129875.0,Apartment,893.40,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakesh-Tensift-El Haouz
4,199808.0,Apartment,1367.02,3,2,"Anfa, Casablanca, Casablanca-Settat",Casablanca,Casablanca-Settat

In [127]:
df.rename(columns={'price':'price_£'},inplace=True)

In [128]:
df

,price_£,proprety type,surface,bedroom,bathroom,address,city,principale
0,239769.0,Apartment,1399.31,2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
1,1798271.0,House,14531.28,6,6,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi
2,434582.0,House,4305.56,4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz",Marrakech,Marrakesh-Tensift-El Haouz
3,129875.0,Apartment,893.40,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakesh-Tensift-El Haouz
4,199808.0,Apartment,1367.02,3,2,"Anfa, Casablanca, Casablanca-Settat",Casablanca,Casablanca-Settat
...,...,...,...,...,...,...,...,...
408,1890611.0,House,6673.68,7,8,"Les rocher 45 Les rocher 45, Bouznika, Casablanca",Bouznika,Casablanca
409,462149.0,House,2583.34,4,4,"Essaouira, Marrakesh-Safi",Marrakech,NaN
410,1260408.0,House,8072.93,8,8,"Essaouira, Marrakesh-Safi",Marrakech,NaN
411,315102.0,House,1722.23,3,3,"Essaouira, Marrakesh-Safi",Marrakech,NaN
417,945306.0,House,8611.13,7,10,"Essaouira, Marrakesh-Safi",Marrakech,NaN

In [148]:
# for readibility 
df['price_k'] = df['price_£']/1000

In [131]:
df.to_csv('housing_sales_ma_.csv',index=False,encoding='utf-8')

In [151]:
df.drop('price_k$',axis=1,inplace=True)